form {
    width: 18.75em; 
    margin: 10px auto; 
}

label {
    display: block;
    margin-bottom: 0.625em; 
}

input[type="number"] {
    width: 8.75em; 
    padding: 0.5em;
    margin-bottom: 1.25em; 
}

input[type="submit"] {
    color: black;
    padding: 0.625em 1.25em; 
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    border-radius: 5px;
    background-color: rgb(211, 208, 208);
}